In [1]:
import pandas as pd
import numpy as np

ZN: proportion of residential land zoned for lots over 25,000 sq.ft.
INDUS: proportion of non-retail business acres per town
CHAS: Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
NOX: nitric oxides concentration (parts per 10 million)
1https://archive.ics.uci.edu/ml/datasets/Housing
123
20.2. Load the Dataset 124
RM: average number of rooms per dwelling
AGE: proportion of owner-occupied units built prior to 1940
DIS: weighted distances to ﬁve Boston employment centers
RAD: index of accessibility to radial highways
TAX: full-value property-tax rate per $10,000
PTRATIO: pupil-teacher ratio by town 12. B: 1000(Bk−0.63)2 where Bk is the proportion of blacks by town 13. LSTAT: % lower status of the population
MEDV: Median value of owner-occupied homes in $1000s

In [50]:
colname=[ "CRIM", "ZN", "INDUS", "CHAS", "NOX", "RM", "AGE", "DIS", "RAD", "TAX", "PTRATIO", "B", "LSTAT", "MEDV"]
df=pd.read_csv("housing.csv",sep="\s+",names=colname,encoding='utf8')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

In [51]:
res=df.isnull()
res.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,506,506,506,506,506,506,506,506,506,506,506,506,506,506
unique,1,1,1,1,1,1,1,1,1,1,1,1,1,1
top,False,False,False,False,False,False,False,False,False,False,False,False,False,False
freq,506,506,506,506,506,506,506,506,506,506,506,506,506,506

In [52]:
data=df.copy()
data=data.sample(random_state=123,frac=1)
print(data)

         CRIM    ZN  INDUS  CHAS     NOX     RM    AGE     DIS  RAD    TAX  \
410  51.13580   0.0  18.10     0  0.5970  5.757  100.0  1.4130   24  666.0
85    0.05735   0.0   4.49     0  0.4490  6.630   56.1  4.4377    3  247.0
280   0.03578  20.0   3.33     0  0.4429  7.820   64.5  4.6947    5  216.0
422  12.04820   0.0  18.10     0  0.6140  5.648   87.6  1.9512   24  666.0
199   0.03150  95.0   1.47     0  0.4030  6.975   15.3  7.6534    3  402.0
..        ...   ...    ...   ...     ...    ...    ...     ...  ...    ...
98    0.08187   0.0   2.89     0  0.4450  7.820   36.9  3.4952    2  276.0
476   4.87141   0.0  18.10     0  0.6140  6.484   93.6  2.3053   24  666.0
322   0.35114   0.0   7.38     0  0.4930  6.041   49.9  4.7211    5  287.0
382   9.18702   0.0  18.10     0  0.7000  5.536  100.0  1.5804   24  666.0
365   4.55587   0.0  18.10     0  0.7180  3.561   87.9  1.6132   24  666.0

     PTRATIO       B  LSTAT  MEDV
410     20.2    2.60  10.11  15.0
85      18.5  392.30   6.53  26.6
280     14.9  387.31   3.76  45.4
422     20.2  291.55  14.10  20.8
199     17.0  396.90   4.56  34.9
..       ...     ...    ...   ...
98      18.0  393.53   3.57  43.8
476     20.2  396.21  18.68  16.7
322     19.6  396.90   7.70  20.4
382     20.2  396.90  23.60  11.3
365     20.2  354.70   7.12  27.5

[506 rows x 14 columns]

In [56]:
y=data['MEDV']
x=data.drop(columns='MEDV',axis=1)
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
410,51.13580,0.0,18.10,0,0.5970,5.757,100.0,1.4130,24,666.0,20.2,2.60,10.11
85,0.05735,0.0,4.49,0,0.4490,6.630,56.1,4.4377,3,247.0,18.5,392.30,6.53
280,0.03578,20.0,3.33,0,0.4429,7.820,64.5,4.6947,5,216.0,14.9,387.31,3.76
422,12.04820,0.0,18.10,0,0.6140,5.648,87.6,1.9512,24,666.0,20.2,291.55,14.10
199,0.03150,95.0,1.47,0,0.4030,6.975,15.3,7.6534,3,402.0,17.0,396.90,4.56
...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0.08187,0.0,2.89,0,0.4450,7.820,36.9,3.4952,2,276.0,18.0,393.53,3.57
476,4.87141,0.0,18.10,0,0.6140,6.484,93.6,2.3053,24,666.0,20.2,396.21,18.68
322,0.35114,0.0,7.38,0,0.4930,6.041,49.9,4.7211,5,287.0,19.6,396.90,7.70
382,9.18702,0.0,18.10,0,0.7000,5.536,100.0,1.5804,24,666.0,20.2,396.90,23.60
365,4.55587,0.0,18.10,0,0.7180,3.561,87.9,1.6132,24,666.0,20.2,354.70,7.12

In [58]:
ind=len(df)
train=int(0.70*ind)
test=int(0.15*ind)
train1=x[:train]
test1=x[train:train+test]
val1=x[train+test:]

train2=y[:train]
test2=y[train:train+test]
val2=y[train+test:]

In [61]:
np.savez("train",x=train1,y=train2)
np.savez("test",x=test1,y=test2)
np.savez("val",x=val1,y=val2)